<footer>

    <div style="border-bottom: 1px solid #ececec;">
        <div class="bodysubcontainer">
            <div class="infoBox">
                <div class="infoHeader containerNoBorder">GENERAL INQUIRIES</div>
                <div class="infoContents">For business related matters: <a href="mailto:info@crosstrack.sg" class="infoContentsLinks">info@crosstrack.sg</a></div>
            </div>


            <div class="infoBox">
                <div class="infoHeader containerNoBorder">MEDIA INQUIRIES</div>
                <div class="infoContents">For press, interviews and other media related matters: <a href="mailto:pr@crosstrack.sg"
                        class="infoContentsLinks">pr@crosstrack.sg</a></div>
            </div>

            <div class="infoBox">
                <div class="infoHeader containerNoBorder">LIVE CHAT</div>
                <div class="infoContents">
                    <!-- LiveZilla Text Chat Link Code (ALWAYS PLACE IN BODY ELEMENT) -->
                    <script type="text/javascript" id="lz_textlink" src="http://livechat.crosstrack.sg/image.php?acid=5f734&amp;tl=1&amp;srv=aHR0cDovL2xpdmVjaGF0LmNyb3NzdHJhY2suc2cvY2hhdC5waHA,YWNpZD0yNmVhOA__&amp;tlont=Q2xpY2sgaGVyZQ__&amp;tloft=Q2xpY2sgaGVyZQ__&amp;tlonc=aW5mb0NvbnRlbnRzTGlua3M_&amp;tlofc=aW5mb0NvbnRlbnRzTGlua3M_"></script>
                    <!-- http://www.LiveZilla.net Text Chat Link Code -->
                    <!-- LiveZilla Tracking Code (ALWAYS PLACE IN BODY ELEMENT) -->
                    <div id="livezilla_tracking" style="display:none"></div>
                    <script type="text/javascript">
                        var script = document.createElement("script"); script.async = true; script.type = "text/javascript"; var src = "http://livechat.crosstrack.sg/server.php?acid=6fa27&request=track&output=jcrpt&nse=" + Math.random(); setTimeout("script.src=src;document.getElementById('livezilla_tracking').appendChild(script)", 1);</script><noscript><img
                            src="http://livechat.crosstrack.sg/server.php?acid=6fa27&amp;request=track&amp;output=nojcrpt"
                            width="0" height="0" style="visibility:hidden;" alt=""></noscript>
                    <!-- http://www.LiveZilla.net Tracking Code -->

                    to chat with us, serving you from 9am to 5pm, Mon to Fri.<br />
                    Or email us: <a href="mailto:support@crosstrack.sg" class="infoContentsLinks">support@crosstrack.sg</a>
                </div>
            </div>

            <div class="infoBox">
                <div class="infoHeader containerNoBorder">FOLLOW US</div>
                <div class="infoContents">
                    <a href="https://www.facebook.com/pages/CROSSTRACK/426924160701402" class="infoContentsLinks">Facebook</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                        href="https://twitter.com/CrossTrackSg" class="infoContentsLinks">Twitter</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <br>
                    <br>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>


    <div class="bodysubcontainer noBorder">

        <div class="footerBox">
            <div class="footerCopyRight">
                <font class="leanRight">&copy; 2013 &#8226; CrossTrack Pte Ltd &#8226; All Rights Reserved</font>
            </div>
            <div class="footerLogo"></div>
            <div class="footerPolicy"><a href="/privacy_policy" class="footerLinks">Privacy Policy</a> &#8226; <a href="/terms_of_use"
                    class="footerLinks">Terms of Use</a> &#8226; <a href="/faq/" class="footerLinks">Support</a>
                &#8226; <a href="/contactus/" class="footerLinks">Contact</a></div>
        </div>
    </div>

    <div class="containerNoBorder footerBar"></div>

    <footer>